<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gotita Viva - Registro</title>
  <link rel="stylesheet" href="../styles/styles_crear.css">
</head>
<body>
    <nav class="navbar">
        <ul>
          <li><a href="../main.html">Inicio</a></li>
        </ul>
      </nav>
  <main>
    <section class="container">
      <div class="logo">
        <img src="../assets/gota.png" alt="Logo principal" class="logo-image">
      </div>
      <div class="form-container">
        <h3>REGÍSTRATE</h3>
        <form action="#">
          <input type="text" placeholder="Nombre completo" required>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Contraseña" required>
          <input type="date" placeholder="Fecha de nacimiento" required>
          <button type="submit">Siguiente</button>
        </form>
      </div>
    </section>
  </main>
</body>
</html>