<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles_his.css">
  <title>Historial de Datos</title>
</head>
<body>
  
  <nav>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="historial.html">Historial</a></li>
      <li><a href="recomendaciones.html">Recomendaciones</a></li>
      <li><a href="contacto_2.html">Contáctenos</a></li>
    </ul>
  </nav>

  <h1>Historial de Datos</h1>

  <!-- Contenedor para seleccionar un tanque -->
  <div class="container">
    <h2>Seleccionar un contenedor</h2>
    <!-- Lista desplegable -->
    <select id="tank-select">
      <option value="tinaco1">Tinaco 1</option>
      <option value="tinaco2">Tinaco 2</option>
      <option value="cisterna">Cisterna</option>
      <option value="piscina">Piscina</option>
    </select>
    <button id="acceptBtn">Aceptar</button>
  </div>

<!-- Botón para generar el PDF -->
<button id="downloadPdfBtn">Descargar PDF</button>

  <!-- Contenedor donde se mostrarán los datos -->
  <div id="data-container" style="display: none;">
    <h2>Datos del contenedor</h2>
    <ul id="data-list">
      <!-- Los datos serán insertados aquí -->
    </ul>
  </div>

  <!-- Mensaje de "No hay datos disponibles" -->
  <div id="no-data" style="display: none;">
    <p>No se encontraron datos disponibles.</p>
  </div>

  <script type="module" src="../public/historial.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</body>
</html>
