<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Inicio de sesión con Firebase</title>
</head>
<body>

  <nav class="navbar">
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="historial.html">Historial</a></li>
      <li><a href="recomendaciones.html">Recomendaciones</a></li>
      <li><a href="contacto_2.html">Contáctenos</a></li>
      <li><a href="main.html">Cerrar sesión</a></li>
    </ul>
  </nav>

  <div class="container">
    <!-- Tarjeta 1 -->
    <div class="card" id="tinaco1">
      <h3>Tinaco 1</h3>
      <p id="fecha-tinaco1">Fecha: </p>
      <p id="ph-tinaco1">pH: </p>
      <p id="turbiedad-tinaco1">Turbiedad: </p>
    </div>
  
    <!-- Tarjeta 2 -->
    <div class="card" id="tinaco2">
      <h3>Tinaco 2</h3>
      <p id="fecha-tinaco2">Fecha: </p>
      <p id="ph-tinaco2">pH: </p>
      <p id="turbiedad-tinaco2">Turbiedad: </p>
    </div>
  
    <!-- Tarjeta 3 -->
    <div class="card" id="cisterna">
      <h3>Cisterna</h3>
      <p id="fecha-cisterna">Fecha: </p>
      <p id="ph-cisterna">pH: </p>
      <p id="turbiedad-cisterna">Turbiedad: </p>
    </div>
  
    <!-- Tarjeta 4 -->
    <div class="card" id="piscina">
      <h3>Piscina</h3>
      <p id="fecha-piscina">Fecha: </p>
      <p id="ph-piscina">pH: </p>
      <p id="turbiedad-piscina">Turbiedad: </p>
    </div>
  </div>
 
  <!-- Asegúrate de cargar app.js como un módulo -->
  <script type="module" src="../public/app.js"></script>

</body>
</html>
