<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles_mision.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="main.html">Inicio</a></li>
        </ul>
      </nav>

    <div class="mision_vision">
       <h1>Misión</h1> 
<p>Somos una organización comprometida en la reducción de la contaminación del agua y la optimización de su uso, mediante prácticas sustentables e  implementando sistemas de limpieza. </p>

<h1>Visión</h1>
<p>Impulsar la transformación sustentable, donde la calidad del agua sea preservada  a través de innovaciones tecnológicas y prácticas responsables, promoviendo su uso eficiente,  colaborando con empresas del estado de Hidalgo para 2030.</p>
    </div>
</body>
</html>
