<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="icon" href="" type="image/x-icon">
    <title>Gotita Viva</title>
</head>
<body>
<!-- Header que contiene el logo de EcoMarket -->
<div class="header">
    <a href="../index.html">
        <img src="" alt="logo" class="logo">
    </a>
</div>

<!-- Formulario de inicio de sesión -->
    <div class="login">
        <div class="profile-icon">
                <img src="../assets/icon_pe.png" alt="icono de perfil">
        </div>
            <form action="" method="POST">
                <p class="txt_inicio_sesion">Correo:</p>
                <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" required>
                <p class="txt_inicio_sesion">Contraseña:</p>
                <input type="password" id="pass" name="pass" placeholder="Ingrese su contraseña" required>
            </form>
            <div class="forgot-password">
                <button type="submit" id="login">Iniciar sesión</button>
                <button type="submit" id="cerrar">Cerrar sesión</button>
                <br>
                <a href="recuperacion_contraseña.html">¿Olvidaste tu contraseña?</a>
            </div>

    </div>

    <script type="module" src="../public/scripts/login.js"></script>
    
</body>
</html>