body {
	background: url('../imagenes/fondo.png') no-repeat center center fixed;
	background-size: cover;
	font-family: Arial, sans-serif;
    color: #21367F; /* Color para texto */
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;

}

.logo_img {
    position: relative;  /* Usa position absolute para posicionarlo en relación al body */
    top: 0;
    margin-left: 62%;             /* Coloca la imagen en la parte superior de la página */
    transform: translateX(-50%); /* Ajusta para que se centre completamente */
    padding-left: 20px;  /* Opcional: si quieres un pequeño espacio a la izquierda */
}

.logo_img img {
    width: 150px; /* Ajusta este valor según el tamaño que desees */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.logo_img1 {
    position: fixed;   /* Usa position fixed para que se quede fijo en la pantalla */
    bottom: 0;         /* Coloca la imagen en la parte inferior */
    right: -250px;        /* Coloca la imagen a la izquierda de la pantalla */
    padding-left: 20px; /* Opcional: agrega un pequeño espaciado a la izquierda */
}

.logo_img1 img {
    width: 500px;      /* Ajusta este valor según el tamaño que desees */
    height: auto;      /* Mantiene la proporción original de la imagen */
}

.logo_img2 {
    position: fixed;   /* Usa position fixed para que se quede fijo en la pantalla */
    bottom: 0;         /* Coloca la imagen en la parte inferior */
    left: -300px;        /* Coloca la imagen a la izquierda de la pantalla */
    padding-left: 20px; /* Opcional: agrega un pequeño espaciado a la izquierda */
}

.logo_img2 img {
    width: 500px;      /* Ajusta este valor según el tamaño que desees */
    height: auto;      /* Mantiene la proporción original de la imagen */
}


#recuperacion {
    position: absolute;
    top: 50%;              /* Centra el cuadro verticalmente */
    left: 50%;             /* Centra el cuadro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta ambos ejes para centrar el cuadro */
    width: 500px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.6);
}

#recuperacion h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.correo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.correo input {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.correo input:focus {
    border-color: #476EBF; /* Color de borde cuando el input está enfocado */
    outline: none;
}

.main-button {
    display: block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #21367F;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: fixed;
    font-size: 1em;
}
.main-button:hover {
    background-color: #476EBF;
}

.enviar {
	display: block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #21367F;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: fixed;
    font-size: 1em;
}

.enviar:hover {
    background-color: #476EBF;
}